.floating-menu{
    --floatingmenu-background-color: #222;
    --floatingmenu-background-color-alternative: #222;
    --floatingmenu-icon-color: #ddd;
    --floatingmenu-icon-color-alternative: #ddd;
    position: fixed;
    z-index: 10;
    padding: .3rem;
}

.floating-menu.top{
    top: 1rem;
}

.floating-menu.left{
    left: 1rem;
}

.floating-menu.right{
    right: 1rem;
}

.floating-menu.bottom{
    bottom: 1rem;
}

.floating-menu .floating-button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
    width: fit-content;
    height: 2rem;
    line-height: 2rem;
    border-radius: .25rem;
    background-color: var(--floatingmenu-background-color);
    color: var(--floatingmenu-icon-color);
    transition: 500ms;
    padding: .5rem;
    border: none;
    outline: none;
}

.floating-menu .floating-button.active,
.floating-menu .floating-button:focus,
.floating-menu .floating-button:hover{
    background-color: var(--floatingmenu-background-color-alternative);
    color: var(--floatingmenu-icon-color-alternative);
}

.floating-menu .floating-button.whatsapp{
    --floatingmenu-background-color: #25D366;
    --floatingmenu-background-color-alternative: #075E54;
    --floatingmenu-icon-color: #fff;
    --floatingmenu-icon-color-alternative: #fff;
    border-radius: 50%;
    font-size: 1.5rem;
    min-width: 3rem;
    height: 3rem;
}

.floating-menu .floating-button.whatsapp .fa-whatsapp{
    animation: maximize 4s infinite;
}

.floating-menu .floating-button .link-text{
    display: block;
    width: 100%;
    overflow: hidden;
    transition: 500ms;
    color: var(--floatingmenu-icon-color);
}

.floating-menu .floating-button:hover .link-text{
    color: var(--floatingmenu-background-color);
}

.floating-menu.left .floating-button .link-text{
    margin-right: .5rem;
}

.floating-menu.right .floating-button .link-text{
    margin-left: .5rem;
}

@keyframes maximize{
    0%{
        transform: scale(1);
    } 20%{
        transform: scale(1.5);
    } 80%{
        transform: scale(1.5);
    } 100%{
        transform: scale(1);
    }
}

/* * MD */
@media(min-width: 768px){
    /**/
}

/* * LG */
@media(min-width: 1024px){
}

/* * XL */
@media(min-width: 1200px){
    /**/
}